Package: snmp-client
Version: 0.1.1
Architecture: all
Maintainer: Ajay Sharma <asharma@terrasatinc.com>
Installed-Size: 10253
Depends: python3-all, python3-setuptools, python3-easysnmp, python3-tk
Section: utils
Priority: optional
Homepage: https://example.com/snmp-client
Description: SNMP Client using easysnmp and Tkinter
 A short description of your application.
